
@media screen and (max-width: 640px) {

 /*****************************
HEADER
******************************/
  
  #masthead {
    font-size: 1.25em;
    text-align: center;
    position: static;
  }
  
  #logo {
    width: 100%;
  
  }
  
  nav {
    margin: auto;
    text-align: center;
    width: 100%;
  }
  
  nav a {
    width: 30%;
  }

 /*****************************
MAIN
******************************/
  #main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .main-section {
    display: block;
    margin: 5%;
    max-width: 90%;
  }

  .profile-photo {
    width: 100%;
  }

 /*****************************
SIDEBAR
******************************/
  .sidebar {
     float: none;
     margin: 2%;
     
     max-width: 90%;
     width: 100%;

  }
}


@media screen and (max-width: 768px) {

 /*****************************
HEADER
******************************/
  
  #masthead {
    font-size: 1.25em;
    text-align: center;
    position: static;
  }
  
  #logo {
    max-width: 100%;
  }
  
  nav {
    margin-top: 10% auto;
    max-width: 100%;
    text-align: center;
  }
  
  nav a {
    display: inline-block;
    margin: auto;
  } 

 /*****************************
MAIN
******************************/
  #main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 5%;
  }

   .main-section {
    display: block;
    max-width: 90%;
    margin: 5%;
  }

  .profile-photo {
    width: 
  } 

 /*****************************
PORTFOLIO
******************************/
  .work {
/*    display: block;
width: 30%; */
  }



 /*****************************
SIDEBAR
******************************/
  .sidebar {
   float: none;
   margin: auto;
   max-width: 90%;
   width: 100%;
 }

}


@media screen and (max-width: 980px) {


 /*****************************
HEADER
******************************/
  
  #masthead {
    font-size: 1.25em;
    text-align: center;
    position: static;
  }
  
  #logo {
    max-width: 100%;
  }
  
  nav {
    margin-top: 10% auto;
    max-width: 100%;
    text-align: center;
  }
  
  nav a {
    display: inline-block;
    margin: auto;
  } 

 /*****************************
MAIN
******************************/
#main-container {
  padding: 0;
}

/* .profile-photo {
  width: 90%; 
} 

 ****************************
PORTFOLIO
*****************************
  .work {
   display: block;
   width: 60%;
  } */



}